In [1]:
import pandas as pd

In [2]:
from glob import glob

In [3]:
print("Bem Vindo(a) :D ")

Bem Vindo(a) :D

In [4]:
print("Lendo bases...")

Lendo bases...

In [5]:
df_base_atestados = pd.read_excel(glob("bases/*")[0], index_col = None)

In [6]:
df_base_atestados.columns = ['data_sap','matricula','nome','idade','sexo','funcao','loja','data_inicial','data_final','vai_inss','dias_perdidos','cib_10','grupo_doenca','lcdo_soc','','','']

In [7]:
df_base_atestados_filtrado = df_base_atestados[['data_sap','matricula','nome','idade','sexo','funcao','loja','data_inicial','data_final','vai_inss','dias_perdidos','cib_10','grupo_doenca','lcdo_soc']].copy()

In [8]:
df_base_atestados_filtrado = df_base_atestados_filtrado[~df_base_atestados_filtrado['matricula'].isnull()].copy()

In [9]:
df_base_atestados_filtrado = df_base_atestados_filtrado[df_base_atestados_filtrado['nome'] != 'NOME'].copy()

#### filtro das colunas importantes

In [10]:
df_atestados_meses = df_base_atestados_filtrado[['data_inicial','dias_perdidos','loja','sexo','idade','funcao','grupo_doenca']].copy()

In [11]:
### Pegando somente o dado que necessita que é o mês
df_atestados_meses['data_inicial'] = df_atestados_meses['data_inicial'].astype(str)

In [12]:
df_atestados_meses['data_inicial'] = df_atestados_meses['data_inicial'].str.replace(".","-")
df_atestados_meses['data_inicial'] = df_atestados_meses['data_inicial'].str.replace(":","-")
df_atestados_meses['data_inicial'] = df_atestados_meses['data_inicial'].str.replace(" ","-")

In [13]:
df_atestados_meses['mes'] = df_atestados_meses['data_inicial'].apply(lambda item: str(item).split('-')[1])

In [14]:
df_atestados_meses.drop(columns = {'data_inicial'}, inplace = True)

In [15]:
df_atestados_meses['mes'] = df_atestados_meses['mes'].astype(int)

In [16]:
# df_atestados_meses

In [17]:
df_atestados_meses['mes_copiado'] = df_atestados_meses['mes']

### 2ºFiltrando para QUANTIDADE DE LICENÇAS MÉDICAS POR UNIDADE

In [18]:
df_atestados_unidade = df_atestados_meses[['mes','loja']].copy()

In [19]:
df_atestados_unidade.head(1)

   mes              loja
0    5  VENDAS - BARROSO

## QUANTIDADE DE DIAS PERDIDOS E LICENÇAS POR MÊS

In [20]:
df_atestados_meses = df_atestados_meses.groupby('mes', as_index = False).agg({'mes_copiado': 'count','dias_perdidos':'sum'})

In [21]:
df_atestados_meses.head()

   mes  mes_copiado  dias_perdidos
0    5          152            360
1    6          162            341
2    7          200            485
3    8          199            426
4    9          153            332

In [22]:
df_atestados_meses.rename(columns = {'mes_copiado':'QTE DE LICENÇAS MÉDICAS','dias_perdidos':'QTE DIAS PERDIDOS'}, inplace = True)

In [23]:
nome_mes = {1: 'JAN', 2: 'FEV', 3:'MARC', 4:'ABR', 5:'MAIO', 6:'JUN', 7:'JUL', 8:'AGO', 9:'SET', 10:'OUT', 11:'NOV' , 12: 'DEZ'}

In [24]:
df_atestados_meses['nome_mes'] = df_atestados_meses['mes'].map(nome_mes)

In [25]:
df_atestados_meses.sort_values(by = ['mes'], ascending = True, inplace = True)

In [26]:
df_atestados_meses = df_atestados_meses.T

In [27]:
#Reorganizando os meses com os respectivos nomes
df_atestados_meses.columns = df_atestados_meses.loc['nome_mes'] 
df_atestados_meses.columns.name = None

In [28]:
df_atestados_meses.drop(['mes', 'nome_mes'], inplace = True)

In [29]:
lista_colunas = df_atestados_meses.columns

lista_meses = ["JAN", "FEV", "MAR", "ABR", "MAIO", "JUN","JUL","AGO","SET","OUT","NOV","DEZ"]

lista_meses = [x for x in lista_meses if x not in lista_colunas]

In [30]:
lista_meses

['JAN', 'FEV', 'MAR', 'ABR', 'NOV', 'DEZ']

In [31]:
for mes in lista_meses:
    df_atestados_meses[mes] = 0

In [32]:
df_atestados_meses.rename(columns = {'JAN': 1,"FEV":2,"MAR":3,"ABR":4,"MAIO":5,"JUN":6,"JUL":7,"AGO":8,"SET":9,"OUT":10,"NOV":11,"DEZ":12}, inplace = True)

In [33]:
df_atestados_meses.sort_index(axis = 1, inplace = True)

In [34]:
df_atestados_meses.rename(columns = {1: 'JANEIRO',2:"FEV",3:"MAR",4:"ABR",5:"MAIO",6:"JUN",7:"JUL",8:"AGO",9:"SET",10:"OUT",11:"NOV",12:"DEZ"}, inplace = True)

In [35]:
df_atestados_meses

,JANEIRO,FEV,MAR,ABR,MAIO,JUN,JUL,AGO,SET,OUT,NOV,DEZ
QTE DE LICENÇAS MÉDICAS,0,0,0,0,152,162,200,199,153,199,0,0
QTE DIAS PERDIDOS,0,0,0,0,360,341,485,426,332,411,0,0

## QUANTIDADE DE LICENÇAS MÉDICAS POR UNIDADE

In [36]:
df_atestados_unidade.head()

   mes                      loja
0    5          VENDAS - BARROSO
1    5       CAIXA - PONTA NEGRA
2    5      LOTERIA - PVH CENTRO
3    5      LOTERIA - PVH CENTRO
4    5  CAIXA - SHOPPING P VELHO

### Padronizando os nomes das lojas

In [37]:
# df_atestados_unidade['loja'] = df_atestados_unidade['loja'].str.replace(" ","-")

In [38]:
df_atestados_unidade

      mes                             loja
0       5                 VENDAS - BARROSO
1       5              CAIXA - PONTA NEGRA
2       5             LOTERIA - PVH CENTRO
3       5             LOTERIA - PVH CENTRO
4       5         CAIXA - SHOPPING P VELHO
5       5      VENDAS - SHOPPING BOA VISTA
6       5                CAIXA - EDUCANDOS
7       5               LOTERIA - TORQUATO
8       5                  CAIXA - CAMAPUA
9       5                  CAIXA - CAMAPUA
10      5           LOTERIA - SHOPPING PVH
11      5               RECEPÇÃO - AVENIDA
12      5  CAIXA - BEMOL FARMA AM SHOPPING
13      5   SAC_CADASTRO - SHP PORTO VELHO
14      5             VENDAS - CIDADE NOVA
15      5                   FARMA MANAUARA
16      5   COORDENACAO CD - CD RIO BRANCO
17      5              CAIXA - PORTO VELHO
18      5             OPERADOR(A) DE CAIXA
19      5                VENDAS - SHOPPING
20      5         ALMOXARIFADO - EDUCANDOS
21      5               VENDAS - EDUCANDOS
22      5            LOTERIA - NOVA CIDADE
23      5                              NaN
24      5            LOTERIA - ITACOATIARA
25      5                 VENDAS - BARROSO
26      5             VENDAS - PONTA NEGRA
27      5  GERENCIA - PONTA NEGRA SHOPPING
28      5     CAIXA - PONTA NEGRA SHOPPING
29      5                VENDAS - SHOPPING
...   ...                              ...
1037   10                       MILLENNIUM
1038   10                    FARMA CAMAPUÃ
1039   10                              BOL
1040   10                FARMA AM SHOPPING
1041   10                         CD - PVH
1042   10                      NOVA CIDADE
1043   10                       MANACAPURU
1044   10                      CIDADE NOVA
1045   10                      NOVA CIDADE
1046   10                       MILLENNIUM
1047   10                      ITACOATIARA
1048   10                      NOVA CIDADE
1049   10                      PONTA NEGRA
1050   10                    FARMA CAMAPUÃ
1051   10                         TORQUATO
1052   10                         TORQUATO
1053   10                           MATRIZ
1054   10                      CIDADE NOVA
1055   10                      CIDADE NOVA
1056   10                      CIDADE NOVA
1057   10                FARMA AM SHOPPING
1058   10                     SHOPPING PVH
1059   10                   CD PORTO VELHO
1060   10                      CIDADE NOVA
1061   10                      ITACOATIARA
1062   10                   CD PORTO VELHO
1063   10                      PORTO VELHO
1064   10                      PORTO VELHO
1065   10                   CD PORTO VELHO
1066   10                      PORTO VELHO

[1065 rows x 2 columns]

### fazendo o filtro e agrupando por unidade agg na uantidade de meses repetidos