In [1]:
import pandas as pd

In [2]:
from glob import glob

In [3]:
print("Bem Vindo(a) :D ")

Bem Vindo(a) :D

In [4]:
print("Lendo bases...")

Lendo bases...

### Leitura das bases

In [5]:
df_base_atestados = pd.read_excel(glob("bases/base_ambulatorio/*")[0], index_col = None)

In [6]:
df_base_lojas_centro = pd.read_excel(glob("bases/base_nomes_lojas/*")[0], index_col = None)

In [7]:
df_base_lojas_centro

                     loja  centro
0               ARIQUEMES     206
1                 AVENIDA     103
2                 BARROSO     107
3            BEMOL ONLINE     102
4                 CAMAPUÃ     118
5             CIDADE NOVA     115
6          DB PONTA NEGRA     114
7               EDUCANDOS     105
8         GRANDE CIRCULAR     109
9             ITACOATIARA     510
10              JATUARANA     201
11              JI-PARANÁ     205
12             MANACAPURU     119
13               MANAUARA     119
14                 MATRIZ     101
15              MILLENIUM     117
16            NOVA CIDADE     121
17  PRESIDENTE FIGUEIREDO     530
18            PORTO VELHO     201
19            SHOPPING AM     106
20            SHOPPING BV     701
21        SHOPPING PNEGRA     120
22           SHOPPING PVH     202
23            SHOPPING RB     490
24               STUDIO 5     116
25               TORQUATO     500
26      FARMA AM SHOPPING     603
27        FARMA BOA VISTA     610
28   FARMA DB PONTA NEGRA       1
29           FARMA DJALMA     615
30  FARMA GRANDE CIRCULAR     604
31           FARMA MATRIZ     605
32         FARMA MANAUARA     612
33      FARMA NOVA CIDADE     607
34      FARMA PORTO VELHO     609
35        FARMA SH PNEGRA     606
36         FARMA STUDIO 5       2
37         FARMA TORQUATO     601
38              CD-MANAUS     104
39         CD-PORTO VELHO     203
40          CD-RIO BRANCO     491
41     ESCRITÓRIO CENTRAL       0
42              BOA VISTA     701

In [8]:
df_base_lojas_copiado = df_base_lojas_centro.copy()

In [9]:
df_base_atestados.columns = ['data_sap','matricula','nome','idade','sexo','funcao','loja','centro','data_inicial','data_final','vai_inss','dias_perdidos','cib_10','grupo_doenca','lcdo_soc','','','']

In [10]:
df_base_atestados_filtrado = df_base_atestados[['data_sap','matricula','nome','idade','sexo','funcao','loja','centro','data_inicial','data_final','vai_inss','dias_perdidos','cib_10','grupo_doenca','lcdo_soc']].copy()

In [11]:
df_base_atestados_filtrado.columns

Index(['data_sap', 'matricula', 'nome', 'idade', 'sexo', 'funcao', 'loja',
       'centro', 'data_inicial', 'data_final', 'vai_inss', 'dias_perdidos',
       'cib_10', 'grupo_doenca', 'lcdo_soc'],
      dtype='object')

In [12]:
df_base_atestados_filtrado = df_base_atestados_filtrado[~df_base_atestados_filtrado['matricula'].isnull()].copy()

In [13]:
df_base_atestados_filtrado = df_base_atestados_filtrado[df_base_atestados_filtrado['nome'] != 'NOME'].copy()

#### filtro das colunas importantes

In [14]:
df_atestados_meses = df_base_atestados_filtrado[['data_inicial','dias_perdidos','loja','centro','sexo','idade','funcao','grupo_doenca']].copy()

### Afirmando que os nomes das lojas estarão em caixa alta

In [15]:
df_atestados_meses['loja'] = df_atestados_meses['loja'].astype(str)

In [16]:
df_atestados_meses['loja'] = df_atestados_meses['loja'].str.upper()

In [17]:
df_atestados_meses.head()

,data_inicial,dias_perdidos,loja,centro,sexo,idade,funcao,grupo_doenca
0,2019-05-08 00:00:00,1,VENDAS - BARROSO,107.0,F,55,VENDEDOR VITRINE,EXAME
1,2019-05-10 00:00:00,1,CAIXA - PONTA NEGRA,114.0,F,31,OPERADOR(A) DE CAIXA,OBSTÉTRICO
2,2019-05-13 00:00:00,7,LOTERIA - PVH CENTRO,201.0,F,30,PERADOR(A) DE CAIXA-LOT,RESPIRATÓRIO
3,2019-05-10 00:00:00,2,LOTERIA - PVH CENTRO,201.0,F,30,PERADOR(A) DE CAIXA-LOT,ACOMPANHANTE
4,2019-05-20 00:00:00,2,CAIXA - SHOPPING P VELHO,202.0,F,27,OPERADOR(A) DE CAIXA,RESPIRATÓRIO

In [18]:
### Pegando somente o dado que necessita que é o mês
df_atestados_meses['data_inicial'] = df_atestados_meses['data_inicial'].astype(str)

In [19]:
df_atestados_meses['data_inicial'] = df_atestados_meses['data_inicial'].str.replace(".","-")
df_atestados_meses['data_inicial'] = df_atestados_meses['data_inicial'].str.replace(":","-")
df_atestados_meses['data_inicial'] = df_atestados_meses['data_inicial'].str.replace(" ","-")

In [20]:
df_atestados_meses['mes'] = df_atestados_meses['data_inicial'].apply(lambda item: str(item).split('-')[1])

In [21]:
df_atestados_meses.head()

,data_inicial,dias_perdidos,loja,centro,sexo,idade,funcao,grupo_doenca,mes
0,2019-05-08-00-00-00,1,VENDAS - BARROSO,107.0,F,55,VENDEDOR VITRINE,EXAME,05
1,2019-05-10-00-00-00,1,CAIXA - PONTA NEGRA,114.0,F,31,OPERADOR(A) DE CAIXA,OBSTÉTRICO,05
2,2019-05-13-00-00-00,7,LOTERIA - PVH CENTRO,201.0,F,30,PERADOR(A) DE CAIXA-LOT,RESPIRATÓRIO,05
3,2019-05-10-00-00-00,2,LOTERIA - PVH CENTRO,201.0,F,30,PERADOR(A) DE CAIXA-LOT,ACOMPANHANTE,05
4,2019-05-20-00-00-00,2,CAIXA - SHOPPING P VELHO,202.0,F,27,OPERADOR(A) DE CAIXA,RESPIRATÓRIO,05

#  SEPARAÇÃO DOS DATA FRAMES POR FILTRO ESPECÍFICO DE CADA SITUAÇÃO


## ------ Filtro para Gerar Quantidade de licenças médicas por Unidade

In [22]:
df_licencas_unidade = df_atestados_meses[['mes','centro','dias_perdidos']].copy()

In [23]:
df_licencas_unidade

     mes  centro dias_perdidos
0     05   107.0             1
1     05   114.0             1
2     05   201.0             7
3     05   201.0             2
4     05   202.0             2
5     05   701.0             3
6     05   105.0            15
7     05   500.0             1
8     05   118.0             2
9     05   118.0             2
10    05   202.0             1
11    05   103.0             2
12    05   603.0             1
13    05   202.0             1
14    05   115.0             1
15    05   612.0             5
16    05   491.0             1
17    05   201.0             3
18    05   107.0             5
19    05   106.0             1
20    05   105.0             1
21    05   105.0             1
22    05   121.0             1
23    05   510.0             3
24    05   107.0             2
25    05   114.0             2
26    05   120.0             1
27    05   120.0             2
28    05   106.0             1
29    05   101.0             1
...   ..     ...           ...
1036  10   117.0             4
1037  10   118.0             1
1038  10   102.0             2
1039  10   603.0             6
1040  10   203.0             1
1041  10   121.0             5
1042  10   520.0             1
1043  10   115.0             1
1044  10   121.0             1
1045  10   117.0             2
1046  10   510.0             1
1047  10   121.0             1
1048  10   114.0             1
1049  10   118.0             1
1050  10   500.0             1
1051  10   500.0             5
1052  10   101.0             1
1053  10   115.0             2
1054  10   115.0             1
1055  10   115.0             1
1056  10   603.0             1
1057  10   202.0             1
1058  10   203.0             7
1059  10   115.0             1
1060  10   510.0             2
1061  10   203.0             1
1062  10   201.0             1
1063  10   201.0             2
1064  10   203.0             2
1065  10   201.0             1

[1064 rows x 3 columns]

In [24]:
df_dias_perdidos_unidade = df_licencas_unidade.copy()

In [25]:
df_atestados_meses.drop(columns = {'data_inicial'}, inplace = True)

In [26]:
df_atestados_meses['mes'] = df_atestados_meses['mes'].astype(int)

In [27]:
df_atestados_meses['mes_copiado'] = df_atestados_meses['mes']

## QUANTIDADE DE DIAS PERDIDOS E LICENÇAS POR MÊS

In [28]:
df_atestados_meses = df_atestados_meses.groupby('mes', as_index = False).agg({'mes_copiado': 'count','dias_perdidos':'sum'})

In [29]:
df_atestados_meses.head()

   mes  mes_copiado  dias_perdidos
0    5          151            355
1    6          162            341
2    7          200            485
3    8          199            426
4    9          153            332

In [30]:
df_atestados_meses.rename(columns = {'mes_copiado':'QTE DE LICENÇAS MÉDICAS','dias_perdidos':'QTE DIAS PERDIDOS'}, inplace = True)

In [31]:
nome_mes = {1: 'JAN', 2: 'FEV', 3:'MARC', 4:'ABR', 5:'MAIO', 6:'JUN', 7:'JUL', 8:'AGO', 9:'SET', 10:'OUT', 11:'NOV' , 12: 'DEZ'}

In [32]:
df_atestados_meses['nome_mes'] = df_atestados_meses['mes'].map(nome_mes)

In [33]:
df_atestados_meses.sort_values(by = ['mes'], ascending = True, inplace = True)

In [34]:
df_atestados_meses = df_atestados_meses.T

In [35]:
#Reorganizando os meses com os respectivos nomes
df_atestados_meses.columns = df_atestados_meses.loc['nome_mes'] 
df_atestados_meses.columns.name = None

In [36]:
df_atestados_meses.drop(['mes', 'nome_mes'], inplace = True)

In [37]:
lista_colunas = df_atestados_meses.columns

lista_meses = ["JAN", "FEV", "MAR", "ABR", "MAIO", "JUN","JUL","AGO","SET","OUT","NOV","DEZ"]

lista_meses = [x for x in lista_meses if x not in lista_colunas]

In [38]:
lista_meses

['JAN', 'FEV', 'MAR', 'ABR', 'NOV', 'DEZ']

In [39]:
for mes in lista_meses:
    df_atestados_meses[mes] = 0

In [40]:
df_atestados_meses.rename(columns = {'JAN': 1,"FEV":2,"MAR":3,"ABR":4,"MAIO":5,"JUN":6,"JUL":7,"AGO":8,"SET":9,"OUT":10,"NOV":11,"DEZ":12}, inplace = True)

In [41]:
df_atestados_meses.sort_index(axis = 1, inplace = True)

In [42]:
df_atestados_meses.rename(columns = {1: 'JANEIRO',2:"FEV",3:"MAR",4:"ABR",5:"MAIO",6:"JUN",7:"JUL",8:"AGO",9:"SET",10:"OUT",11:"NOV",12:"DEZ"}, inplace = True)

In [43]:
df_atestados_meses

,JANEIRO,FEV,MAR,ABR,MAIO,JUN,JUL,AGO,SET,OUT,NOV,DEZ
QTE DE LICENÇAS MÉDICAS,0,0,0,0,151,162,200,199,153,199,0,0
QTE DIAS PERDIDOS,0,0,0,0,355,341,485,426,332,411,0,0

## QUANTIDADE DE LICENÇAS MÉDICAS POR UNIDADE

### Função que tem por finalidade dizer onde tem traço e trazer so a segunda posição, ou seja, restando somente o nome da loja

In [44]:
# def consertando(row):
#     if '-' in row['loja']:
#         row['loja'] = row['loja'].split('-')[1]
#     return row

# df_licencas_unidade = df_licencas_unidade.apply(consertando, axis = 1)

## Contando pelo centro a quantidade de licenças médicas por unidade

## data frame para renomear as lojas

In [45]:
df_base_lojas_centro.head()

           loja  centro
0     ARIQUEMES     206
1       AVENIDA     103
2       BARROSO     107
3  BEMOL ONLINE     102
4       CAMAPUÃ     118

In [46]:
df_licencas_unidade['centro'] = df_licencas_unidade['centro'].astype(int)

In [47]:
df_licencas_unidade['mes_unidades_copiado'] = df_licencas_unidade['mes'].copy()

In [48]:
df_licencas_unidade['mes'] = df_licencas_unidade['mes'].astype(int)

In [49]:
# df_licencas_unidade

In [50]:
lista_ordenacao = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j','k','l']

In [51]:
for mes in df_licencas_unidade['mes'].unique():
    
    df_aux = df_licencas_unidade[df_licencas_unidade['mes'] == mes].copy()
   
    df_agrupado = df_aux.groupby(['centro'], as_index = False).agg({'mes_unidades_copiado': 'count'}).copy()
       
    df_agrupado.rename(columns={"mes_unidades_copiado": lista_ordenacao[mes]}, inplace = True)
    
    df_base_lojas_centro = pd.merge(df_base_lojas_centro, df_agrupado, on = ['centro'], how = 'outer')
    
    df_base_lojas_centro.fillna(0, inplace = True)

In [52]:
df_base_lojas_centro.rename(columns = {"centro":"a_centro", "loja":'a_loja'}, inplace = True)

In [53]:
df_base_lojas_centro.sort_index(axis = 1, inplace = True)

In [54]:
dic_mes_alfabeto = {'a': 'JAN', 'b': 'FEV', 'c': 'MAR', 'd': 'ABR', 'e':'MAIO', 'f':'JUN', 'g':'JUL', 'h':'AGO', 'i':'SET', 'j':'OUT', 'k':'NOV','l':'DEZ'}

In [55]:
df_base_lojas_centro.head()

   a_centro        a_loja     f     g     h     i     j     k
0       206     ARIQUEMES   0.0   0.0   0.0   0.0   0.0   0.0
1       103       AVENIDA   6.0   8.0   9.0  15.0   5.0  15.0
2       107       BARROSO  11.0   4.0   9.0   2.0   2.0   4.0
3       102  BEMOL ONLINE   0.0   4.0   3.0   3.0   1.0   2.0
4       118       CAMAPUÃ   8.0  10.0  10.0  19.0  18.0  13.0

In [56]:
for name in df_base_lojas_centro.columns[2:]:
    df_base_lojas_centro.rename(columns = {name: dic_mes_alfabeto[name]},inplace = True)

In [57]:
df_base_lojas_centro.head()

   a_centro        a_loja   JUN   JUL   AGO   SET   OUT   NOV
0       206     ARIQUEMES   0.0   0.0   0.0   0.0   0.0   0.0
1       103       AVENIDA   6.0   8.0   9.0  15.0   5.0  15.0
2       107       BARROSO  11.0   4.0   9.0   2.0   2.0   4.0
3       102  BEMOL ONLINE   0.0   4.0   3.0   3.0   1.0   2.0
4       118       CAMAPUÃ   8.0  10.0  10.0  19.0  18.0  13.0

In [58]:
df_base_lojas_centro.columns

Index(['a_centro', 'a_loja', 'JUN', 'JUL', 'AGO', 'SET', 'OUT', 'NOV'], dtype='object')

In [59]:
lista_colunas = df_base_lojas_centro.columns

lista_semestre = ["JAN", "FEV", "MAR", "ABR", "MAIO", "JUN","JUL","AGO","SET","OUT","NOV","DEZ"]

if "JUL" in lista_colunas:
    lista_meses = [x for x in lista_semestre if x not in lista_colunas]
else:
    lista_meses = [x for x in lista_semestre if x not in lista_colunas]

In [60]:
lista_meses

['JAN', 'FEV', 'MAR', 'ABR', 'MAIO', 'DEZ']

In [61]:
for mes in lista_meses:
    df_base_lojas_centro[mes] = 0

In [62]:
df_base_lojas_centro = df_base_lojas_centro[["a_loja","JAN", "FEV", "MAR", "ABR", "MAIO", "JUN","JUL","AGO","SET","OUT","NOV","DEZ"]].copy()

In [63]:
df_base_lojas_centro.rename(columns = {'a_loja':'LOJA'}, inplace = True)

In [64]:
df_qtd_atestados_unidade = df_base_lojas_centro.copy()

## ===================== OS CENTROS -1 PRECISAM SER ATUALIZADOS PARA O CENTRO REAL !!!!!!!!!!!!!!!!!!!!

##  QUANTIDADE DE DIAS PERDIDOS POR MÊS

In [65]:
df_dias_perdidos_unidade['mes'] = df_dias_perdidos_unidade['mes'].astype(int)

In [66]:
df_dias_perdidos_unidade['centro'] = df_dias_perdidos_unidade['centro'].astype(int)

In [67]:
for mes in df_dias_perdidos_unidade['mes'].unique():
    
    df_aux = df_dias_perdidos_unidade[df_dias_perdidos_unidade['mes'] == mes].copy()
   
    df_agrupando = df_aux.groupby(['centro'], as_index = False).agg({'dias_perdidos': 'sum'}).copy()
       
    df_agrupando.rename(columns = {"dias_perdidos": lista_ordenacao[mes]}, inplace = True)
    
    df_base_lojas_copiado = pd.merge(df_base_lojas_copiado, df_agrupando, on = ['centro'], how = 'outer')
    
    df_base_lojas_copiado.fillna(0, inplace = True)

In [68]:
df_base_lojas_copiado.head()

           loja  centro     f     g     h     i     j     k
0     ARIQUEMES     206   0.0   0.0   0.0   0.0   0.0   0.0
1       AVENIDA     103  29.0  23.0  14.0  24.0   6.0  58.0
2       BARROSO     107  30.0   6.0  27.0   2.0   2.0   4.0
3  BEMOL ONLINE     102   0.0   4.0  11.0   5.0   1.0   3.0
4       CAMAPUÃ     118  28.0  25.0  24.0  28.0  38.0  35.0

In [69]:
df_base_lojas_copiado.rename(columns = {"centro":"a_centro", "loja":'a_loja'}, inplace = True)

In [70]:
df_base_lojas_copiado.sort_index(axis = 1, inplace = True)

In [71]:
for name in df_base_lojas_copiado.columns[2:]:
    df_base_lojas_copiado.rename(columns = {name: dic_mes_alfabeto[name]},inplace = True)

In [72]:
lista_colunas = df_base_lojas_copiado.columns

lista_semestre = ["JAN", "FEV", "MAR", "ABR", "MAIO", "JUN","JUL","AGO","SET","OUT","NOV","DEZ"]

if "JUL" in lista_colunas:
    lista_meses = [x for x in lista_semestre if x not in lista_colunas]
else:
    lista_meses = [x for x in lista_semestre if x not in lista_colunas]

In [73]:
for mes in lista_meses:
    df_base_lojas_copiado[mes] = 0

In [74]:
df_base_lojas_copiado = df_base_lojas_copiado[["a_loja","JAN", "FEV", "MAR", "ABR", "MAIO", "JUN","JUL","AGO","SET","OUT","NOV","DEZ"]].copy()

In [75]:
df_base_lojas_centro.rename(columns = {'a_loja':'LOJA'}, inplace = True)

In [76]:
df_qtd_dias_perdidos_unidade = df_base_lojas_centro.copy()

# SALVANDOS OS DATA FRAMES

In [77]:
writer = pd.ExcelWriter('Relatório de Atestados.xlsx', engine ='xlsxwriter')

### relatorio geral da quantidade de dias perdidos e da quantidade de licenças médicas gerais

df_atestados_meses.to_excel (writer, sheet_name = "relatorio_atestados", index = True, startrow = 1, startcol = 0)

workbook = writer.book

In [78]:
df_atestados_meses.to_excel (writer, sheet_name = "relatorio_atestados", index = True, startrow = 1, startcol = 0)

In [79]:
tam_linhas_atesados_qtd = df_atestados_meses.shape[0]+4

In [80]:
df_qtd_atestados_unidade.to_excel (writer, sheet_name = "relatorio_atestados", index = False, startrow = tam_linhas_atesados_qtd, startcol = 0)

In [81]:
tam_linhas_dias_atestados = df_qtd_atestados_unidade.shape[0]+15

In [82]:
df_qtd_dias_perdidos_unidade.to_excel (writer, sheet_name = "relatorio_atestados", index = False, startrow = tam_linhas_dias_atestados, startcol = 0)

In [83]:
writer.save()