In [1]:
import pandas as pd

In [2]:
from glob import glob

In [3]:
print("Bem Vindo(a) :D ")

Bem Vindo(a) :D

In [4]:
print("Lendo bases...")

Lendo bases...

In [5]:
df_base_atestados = pd.read_excel(glob("bases/*")[0], index_col = None)

In [6]:
df_base_atestados['LOJA'] = df_base_atestados['LOJA'].astype(str)

In [7]:
df_base_atestados.columns = ['data_sap','matricula','nome','idade','sexo','funcao','loja','centro','data_inicial','data_final','vai_inss','dias_perdidos','cib_10','grupo_doenca','lcdo_soc','','','']

In [8]:
df_base_atestados_filtrado = df_base_atestados[['data_sap','matricula','nome','idade','sexo','funcao','loja','centro','data_inicial','data_final','vai_inss','dias_perdidos','cib_10','grupo_doenca','lcdo_soc']].copy()

In [9]:
df_base_atestados_filtrado.columns

Index(['data_sap', 'matricula', 'nome', 'idade', 'sexo', 'funcao', 'loja',
       'centro', 'data_inicial', 'data_final', 'vai_inss', 'dias_perdidos',
       'cib_10', 'grupo_doenca', 'lcdo_soc'],
      dtype='object')

In [10]:
df_base_atestados_filtrado = df_base_atestados_filtrado[~df_base_atestados_filtrado['matricula'].isnull()].copy()

In [11]:
df_base_atestados_filtrado = df_base_atestados_filtrado[df_base_atestados_filtrado['nome'] != 'NOME'].copy()

#### filtro das colunas importantes

In [12]:
df_atestados_meses = df_base_atestados_filtrado[['data_inicial','dias_perdidos','loja','centro','sexo','idade','funcao','grupo_doenca']].copy()

### Afirmando que os nomes das lojas estarão em caixa alta

In [13]:
df_atestados_meses['loja'] = df_atestados_meses['loja'].astype(str)

In [14]:
df_atestados_meses['loja'] = df_atestados_meses['loja'].str.upper()

In [15]:
df_atestados_meses.head()

,data_inicial,dias_perdidos,loja,centro,sexo,idade,funcao,grupo_doenca
0,2019-05-08 00:00:00,1,VENDAS - BARROSO,107.0,F,55,VENDEDOR VITRINE,EXAME
1,2019-05-10 00:00:00,1,CAIXA - PONTA NEGRA,114.0,F,31,OPERADOR(A) DE CAIXA,OBSTÉTRICO
2,2019-05-13 00:00:00,7,LOTERIA - PVH CENTRO,NaN,F,30,PERADOR(A) DE CAIXA-LOT,RESPIRATÓRIO
3,2019-05-10 00:00:00,2,LOTERIA - PVH CENTRO,NaN,F,30,PERADOR(A) DE CAIXA-LOT,ACOMPANHANTE
4,2019-05-20 00:00:00,2,CAIXA - SHOPPING P VELHO,NaN,F,27,OPERADOR(A) DE CAIXA,RESPIRATÓRIO

In [16]:
### Pegando somente o dado que necessita que é o mês
df_atestados_meses['data_inicial'] = df_atestados_meses['data_inicial'].astype(str)

In [17]:
df_atestados_meses['data_inicial'] = df_atestados_meses['data_inicial'].str.replace(".","-")
df_atestados_meses['data_inicial'] = df_atestados_meses['data_inicial'].str.replace(":","-")
df_atestados_meses['data_inicial'] = df_atestados_meses['data_inicial'].str.replace(" ","-")

In [18]:
df_atestados_meses['mes'] = df_atestados_meses['data_inicial'].apply(lambda item: str(item).split('-')[1])

In [19]:
df_atestados_meses.head()

,data_inicial,dias_perdidos,loja,centro,sexo,idade,funcao,grupo_doenca,mes
0,2019-05-08-00-00-00,1,VENDAS - BARROSO,107.0,F,55,VENDEDOR VITRINE,EXAME,05
1,2019-05-10-00-00-00,1,CAIXA - PONTA NEGRA,114.0,F,31,OPERADOR(A) DE CAIXA,OBSTÉTRICO,05
2,2019-05-13-00-00-00,7,LOTERIA - PVH CENTRO,NaN,F,30,PERADOR(A) DE CAIXA-LOT,RESPIRATÓRIO,05
3,2019-05-10-00-00-00,2,LOTERIA - PVH CENTRO,NaN,F,30,PERADOR(A) DE CAIXA-LOT,ACOMPANHANTE,05
4,2019-05-20-00-00-00,2,CAIXA - SHOPPING P VELHO,NaN,F,27,OPERADOR(A) DE CAIXA,RESPIRATÓRIO,05

#  SEPARAÇÃO DOS DATA FRAMES POR FILTRO ESPECÍFICO DE CADA SITUAÇÃO


## ------ Filtro para Gerar Quantidade de licenças médicas por Unidade

In [20]:
df_licencas_unidade = df_atestados_meses[['loja','mes']].copy()

In [21]:
df_licencas_unidade.head()

                       loja mes
0          VENDAS - BARROSO  05
1       CAIXA - PONTA NEGRA  05
2      LOTERIA - PVH CENTRO  05
3      LOTERIA - PVH CENTRO  05
4  CAIXA - SHOPPING P VELHO  05

In [22]:
df_atestados_meses.drop(columns = {'data_inicial'}, inplace = True)

In [23]:
df_atestados_meses['mes'] = df_atestados_meses['mes'].astype(int)

In [24]:
df_atestados_meses['mes_copiado'] = df_atestados_meses['mes']

## QUANTIDADE DE DIAS PERDIDOS E LICENÇAS POR MÊS

In [25]:
df_atestados_meses = df_atestados_meses.groupby('mes', as_index = False).agg({'mes_copiado': 'count','dias_perdidos':'sum'})

In [26]:
df_atestados_meses.head()

   mes  mes_copiado  dias_perdidos
0    5          151            355
1    6          162            341
2    7          200            485
3    8          199            426
4    9          153            332

In [27]:
df_atestados_meses.rename(columns = {'mes_copiado':'QTE DE LICENÇAS MÉDICAS','dias_perdidos':'QTE DIAS PERDIDOS'}, inplace = True)

In [28]:
nome_mes = {1: 'JAN', 2: 'FEV', 3:'MARC', 4:'ABR', 5:'MAIO', 6:'JUN', 7:'JUL', 8:'AGO', 9:'SET', 10:'OUT', 11:'NOV' , 12: 'DEZ'}

In [29]:
df_atestados_meses['nome_mes'] = df_atestados_meses['mes'].map(nome_mes)

In [30]:
df_atestados_meses.sort_values(by = ['mes'], ascending = True, inplace = True)

In [31]:
df_atestados_meses = df_atestados_meses.T

In [32]:
#Reorganizando os meses com os respectivos nomes
df_atestados_meses.columns = df_atestados_meses.loc['nome_mes'] 
df_atestados_meses.columns.name = None

In [33]:
df_atestados_meses.drop(['mes', 'nome_mes'], inplace = True)

In [34]:
lista_colunas = df_atestados_meses.columns

lista_meses = ["JAN", "FEV", "MAR", "ABR", "MAIO", "JUN","JUL","AGO","SET","OUT","NOV","DEZ"]

lista_meses = [x for x in lista_meses if x not in lista_colunas]

In [35]:
lista_meses

['JAN', 'FEV', 'MAR', 'ABR', 'NOV', 'DEZ']

In [36]:
for mes in lista_meses:
    df_atestados_meses[mes] = 0

In [37]:
df_atestados_meses.rename(columns = {'JAN': 1,"FEV":2,"MAR":3,"ABR":4,"MAIO":5,"JUN":6,"JUL":7,"AGO":8,"SET":9,"OUT":10,"NOV":11,"DEZ":12}, inplace = True)

In [38]:
df_atestados_meses.sort_index(axis = 1, inplace = True)

In [39]:
df_atestados_meses.rename(columns = {1: 'JANEIRO',2:"FEV",3:"MAR",4:"ABR",5:"MAIO",6:"JUN",7:"JUL",8:"AGO",9:"SET",10:"OUT",11:"NOV",12:"DEZ"}, inplace = True)

In [40]:
df_atestados_meses

,JANEIRO,FEV,MAR,ABR,MAIO,JUN,JUL,AGO,SET,OUT,NOV,DEZ
QTE DE LICENÇAS MÉDICAS,0,0,0,0,151,162,200,199,153,199,0,0
QTE DIAS PERDIDOS,0,0,0,0,355,341,485,426,332,411,0,0

## QUANTIDADE DE LICENÇAS MÉDICAS POR UNIDADE

##  Retirando o nome antes do dígito na coluna loja

In [41]:
df_licencas_unidade['loja'] = df_licencas_unidade['loja'].astype(str)

### Função que tem por finalidade dizer onde tem traço e trazer so a segunda posição, ou seja, restando somente o nome da loja

In [42]:
def consertando(row):
    if '-' in row['loja']:
        row['loja'] = row['loja'].split('-')[1]
    return row

df_licencas_unidade = df_licencas_unidade.apply(consertando, axis = 1)

In [43]:
df_licencas_unidade.head()

                loja mes
0            BARROSO  05
1        PONTA NEGRA  05
2         PVH CENTRO  05
3         PVH CENTRO  05
4   SHOPPING P VELHO  05

### Fazendo Relação pelo centro da loja

In [ ]:
## centros pendentes VENDAS - SHOPPING BOA VISTA

In [44]:
# df_licencas_unidade[df_licencas_unidade['loja'] == "TORQUATO"]

# SALVANDOS OS DATA FRAMES

In [45]:
writer = pd.ExcelWriter('Relatório de Atestados.xlsx', engine ='xlsxwriter')

### relatorio geral da quantidade de dias perdidos e da quantidade de licenças médicas gerais

df_atestados_meses.to_excel (writer, sheet_name = "relatorio_atestados", index = True, startrow = 1, startcol = 0)

workbook = writer.book

In [46]:
df_atestados_meses.to_excel (writer, sheet_name = "relatorio_atestados", index = True, startrow = 1, startcol = 0)

In [47]:
writer.save()